@model IEnumerable<MovieDatabase.Models.Movie>

@{
    if (helpers.isAdmin(User, helpers.getUserID(User.Identity)))
    {
        ViewBag.Title = "Admin - Showing all Movies";
    }
    else
    {
        ViewBag.Title = "Main List for " + User.Identity.Name;
    }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered" width="100%" cellspacing="0" id="mainMovies">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMDBurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.watched)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate.ToString().Split()[0])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.IMDBurl)">@Html.DisplayFor(modelItem => item.Title)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.director)
        </td>
        <td>
            @if(item.thumbnail != "N/A")
            { 
                <img src="@Html.DisplayFor(modelItem => item.thumbnail)" height="100" width="75"/>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.thumbnail);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.watched)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
        </tbody>

</table>


@section Scripts {
    <script type="text/javascript">
    $(document).ready(function() {
        $('#mainMovies').DataTable();
    });
    </script>
}
